                <div class="app-wrapper-footer">
                        <div class="app-footer">
                            <div class="app-footer__inner">
                                <div class="app-footer-right">
                                    <p dir="rtl">
                                      تمامي حقوق مادي و معنوي اين سامانه متعلق به دكتر گيو شريفي مي باشد.
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
