{% load static %}
{% load main_tags %}
        <div class="app-header header-shadow">
            <div class="app-header__logo">
                <div class="logo-src"></div>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>    <div class="app-header__content">
                <div class="app-header-left">
                    {% show_search %}
                    <ul class="header-menu nav">
                        <li class="nav-item">
                            <a href="{% url 'main:home' %}" class="nav-link">
                                <i class="nav-link-icon fa fa-home"> </i>
                                خانه
                            </a>
                        </li>
                        <li class="btn-group nav-item">
                            <a href="{% url 'turn:take_turn' %}" class="nav-link">
                                <i class="nav-link-icon fa fa-edit"></i>
                                ثبت نوبت
                            </a>
                        </li>
                        <li class="dropdown nav-item">
                            <a href="{% url 'main:Calender' %}" class="nav-link">
                                <i class="nav-link-icon fa fa-calendar"></i>
                                ثبت تعطیلات
                            </a>
                        </li>
                    </ul>        </div>
                <div class="app-header-right">
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                            <img width="42" class="rounded-circle" src="{% static 'images/LOGO.png' %}" alt="">
                                            <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                        </a>
                                        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                            <button type="button" tabindex="0" class="dropdown-item">
                                                            user: {{user}}
                              </button>
                              <a  href="{% url 'account:logoutuser' %}"><button type="button" tabindex="0" class="dropdown-item">
                                                          خروج
                              </button></a>

                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content-left  ml-3 header-user-info">
                                    <div class="widget-heading">
                                          سامانه اطلاعات بیماران دکتر شریفی
                                    </div>
                                    <div class="widget-subheading">
                                   
                                    </div>
                                </div>
                                <div class="widget-content-right header-user-info ml-3">

                                </div>
                            </div>
                        </div>
                    </div>        </div>
            </div>
        </div>
