{% extends "main/base.html" %}
{% load static %}
{% load main_tags %}
{% block custom_css %}<link href="{% static 'css/list_page.css' %}?v=1" rel="stylesheet">
<link href="{% static 'css/Mh1PersianDatePicker.css' %}" rel="stylesheet" />
{% endblock %}
{% block title %}p_login{% endblock %}
{% block content %}
<div class="search_main">
  {% show_search %}
</div>
<div class="filter">
  <form class="" action="{% url 'main:surgery_list' %}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button  class="filterbtn" type="submit" name="button">اعمال فیلتر</button>
  </form>

</div>
<div class="header">
  <table class="table-bordered table-hover">
    <caption class="text-center"><h2>لست جراحی</h2></caption>
    <a href="{% url 'main:s_download' %}">excel</a>
    <thead>
      <tr>
        <th>بیمار</th>
        <th>عنوان عمل</th>
        <th>نام پزشک</th>
        <th>تاریخ پذیرش</th>
        <th data-priority="1">شرح حال</th>
        <th data-priority="1">برائت نامه</th>
        <th data-priority="2"></th>

      </tr>
    </thead>
    <tbody>
      {% for i in surgery %}
      <tr>
        <td>{{i.Patient}}</td>
        <td>{{i.name}}</td>
        <td>{{i.name_Doc}}</td>
        <td>{{i.get_jalali_date}}</td>
        {% if i.patient_history %}<td style="background:darkgreen;color:white;"><a href="{{i.patient_history.url}}">دریافت</a></td>{% else %}<td style="background:darkred;color:white;">موجود نیست</td>{% endif %}
        {% if i.Medical_innocence %}<td style="background:darkgreen;color:white;"><a href="{{i.Medical_innocence.url}}">دریافت</a></td>{% else %}<td style="background:darkred;color:white;">موجود نیست</td>{% endif %}
        <td style="background-color: #88D1E0;"><a href="{{i.Patient.get_absolute_url}}">پرونده بیمار</a></td>
      </tr>
      {% empty %}
      <li>تا کنون پرونده ای به جراحی ارجاع نشده است</li>
      {% endfor %}
    </tbody>
  </table>
</div>

<script type="text/javascript">id_status
  document.getElementById('id_searchtxt').placeholder ='جستجو در ارجاع به جراحی';
  document.getElementById('id_status').value = '3';
</script>
<link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
<script src="{% static 'js/Mh1PersianDatePicker.js' %}"></script>


{% endblock %}
